header {
    padding: 40px 0;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile {
    display: none;
    background-image: url('../img/menu-burger.png');
    width: 32px;
    height: 32px;
    background-size: cover;
    cursor: pointer;
}

.mobile ul a {
    font-size: 14px;
    color: #B4B4B4;
    text-decoration: none;
    text-transform: uppercase;
}

.mobile ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    background-color: slategrey;
    width: 100%;
    text-align: center;
    display: none;
}

.mobile li:hover {
    background-color: aliceblue;
    color: black;
}

.mobile li {
    padding: 10px 0;
    list-style: none;
    border-bottom: 2px solid black;
}

.desktop li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

.desktop li a {
    font-size: 14px;
    color: #B4B4B4;
    text-decoration: none;
    text-transform: uppercase;
}

.desktop li a:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}