.procedimentos > .container {
    max-width: 800px;
    display: flex;
    position: relative;
    top: -40px;
    text-align: center;
    align-items: center;
}

.coluna-procedimento:nth-of-type(1) {
    width: 30%;
    padding: 35px 2%;
    background-color: rgb(87, 105, 117);
    background-image: url('../img/tooth.png');
}

.coluna-procedimento:nth-of-type(2) {
    width: 40%;
    padding: 60px 2%;
    background-color: rgb(104, 130, 147);
    background-image: none;
}

.coluna-procedimento:nth-of-type(3) {
    width: 30%;
    padding: 35px 2%;
    background-color: rgb(87, 105, 117);
    background-image: url('../img/tooth.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center calc(100% - 9px);
}

.coluna-procedimento {
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center calc(100% - 9px);
}

.coluna-procedimento p {
    font-size: 14px;
    color: white;
}

.coluna-procedimento h2 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .procedimentos > .container {
        position: static;
        top: 0px;
        flex-direction: column;

    }

    .coluna-procedimento:nth-of-type(1) {
        width: 70%;
    }
    
    .coluna-procedimento:nth-of-type(2) {
        width: 80%;
    }
    
    .coluna-procedimento:nth-of-type(3) {
        width: 70%;
    }
}