.sessao1 {
    width: 100%;
    height: calc(100% + 100px);
    background-color: #472562;
    padding: 0 2%;
    max-height: 400px;
}

/*text part*/

.wraper-sessao1 {
    display: flex;
    width: 100%;
}

.wraper-text {
    width: 50%;
    position: relative;
    top: 50px;
    left: 15%;
    max-width: 600px;
}

.wraper-text h2 {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
}

.wraper-text p {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.wraper-text ul {
    font-size: 18px;
    color: white;
    padding-left: 17px;
}

.wraper-text li {
    padding-left: -5px;
    margin-bottom: 15px;
}

.wraper-text input[type=button] {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: orange;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 40px;
}

/*text part*/

/*img part*/

.wraper-device {
    width: 50%;
}

.wraper-device img {
    background-size: 100% 100%;
    position: relative;
    top: -100px;
    left: -15%;
    height: 500px;
}

/*img part*/

@media screen and (max-width: 1200px){
    .sessao1 {
        padding: 70px 4%;
        height: auto;
        max-height: none;
    }
    .wraper-device {
        display: none;
    }

    .wraper-sessao1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    
    .wraper-text {
        display: inline-block;
        width: 100%;
        position: static;
        text-align: center;
    }
    
    .wraper-text ul {
        display: inline-block;
    }

    .wraper-text li {
        text-align: left;
    }
    
    .wraper-text input[type=button] {
        width: 200px;
        height: 50px;
        line-height: 50px;
        color: white;
        background-color: orange;
        border: 1px solid black;
        border-radius: 30px;
        margin-top: 40px;
    }
}